<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.lti.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <display-name>hibernate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FetchServlet</display-name>
    <servlet-name>FetchServlet</servlet-name>
    <servlet-class>com.lti.FetchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchServlet</servlet-name>
    <url-pattern>/FetchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAll</display-name>
    <servlet-name>FetchAll</servlet-name>
    <servlet-class>com.lti.FetchAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAll</servlet-name>
    <url-pattern>/FetchAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchForCustomerServlet</display-name>
    <servlet-name>SearchForCustomerServlet</servlet-name>
    <servlet-class>com.lti.SearchForCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForCustomerServlet</servlet-name>
    <url-pattern>/SearchForCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.lti.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.lti.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEmpServlet</display-name>
    <servlet-name>InsertEmpServlet</servlet-name>
    <servlet-class>com.emp.InsertEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmpServlet</servlet-name>
    <url-pattern>/InsertEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonPassport</display-name>
    <servlet-name>PersonPassport</servlet-name>
    <servlet-class>com.person.PersonPassport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonPassport</servlet-name>
    <url-pattern>/PersonPassport</url-pattern>
  </servlet-mapping>
</web-app>